* {
    margin: 0px;
    padding: 0px;
    border: none;

}

/* este es un simpe ejemplo de css y aqui comentamos todo*/
h1  {
    background-color: rgb(110, 226, 43);
}

.contenedor {
<<<<<<< HEAD
    margin: 3rem;
    padding: 2rem;
}

.master {
    border: none;
    margin: 0;
    

=======
    margin: 5rem;
    padding: 1rem;
>>>>>>> dev
}